font-family = Inter, sans-serif
fs-13 = 13px
fs-14 = 14px
fs-16 = 16px
fs-18 = 18px
fs-24 = 24px
fs-36 = 36px
break-point-lg = 959px

#app
  font-family font-family
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.text--header
  display inline-block
  font-size fs-36
  font-weight bold
  color primary 
  margin 0
  
  &::after
    content ' '
    display block
    margin-top -15px
    height 8px
    width 292px
    background-color grey_2

.text--title
  font-size fs-24
  font-weight bold
  color primary
  margin 0

.text--regular
  font-size fs-14
  color black
  margin 0

.text--regular-medium
  font-size fs-14
  color black
  font-weight 500
  margin 0

.text--regular-bold
  font-size fs-14
  color black
  font-weight bold
  margin 0

.text--16-success-medium
  font-size fs-16
  color success 
  font-weight 500
  margin 0