primary = #FF8A00
primary_opacity = rgba(255, 138, 0, .2)
secondary = #FFE4B8
success = #1BD97B
grey = #CCCCCC
grey_2 = #EEEEEE
success_opacity = rgb(27, 217, 123, 0.1)
black_100 = #000000
black_90 = #2D2A40
background = #FFFAE6
