// generic
@import ("generic/_generic.normalize")

// settings
@import ("settings/_settings.color")
@import ("settings/_settings.global")

// utilites
@import ("utilities/_utilities.common")

// components
@import ("components/_components.main")