.a-number-stepper
    display flex
    align-items center
    .number--active
        color white
        background-color primary
    .number--not-active
        color primary
        background-color secondary
    &__number
        padding 5px 10px
        border-radius 50%
        font-weight 500
    &__text
        margin-left 10px
        font-weight 500
        color primary 
    &__icon
        margin-left 27px
    
