.a-input
    display inline-block
    border 1px solid grey
    padding 4px 15px 4px
    position relative

    input
        border none
        outline 0
        font-size fs-16
        padding 16px 0 16px
        margin-top 5px

    label
        font-size fs-16
        color rgba(0,0,0,0.4)
        position absolute
        transform translate(0, 21px) scale(1)
        transform-origin: top left;
        transition all .1s ease-in-out;  //speed
        font-weight bold

    &.active
        
        label
            transform translate(0, 4px) scale(.75);

    &.success
        border-color success

        label
            color success
            
    &.error
        border-color primary

        label
            color primary
    
    .input--icon
        padding-left 5px
        width 15px
        height 15px
        position absolute
        right 15px
        top 21px