.u-inline {
  display: inline !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-flex {
  display: flex !important;
}

.u-flex__justify--center {
  justify-content: center !important;
}

.u-flex__justify--between {
  justify-content: space-between !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-float-left {
  float: left !important;
}

.u-float-right {
  float: right !important;
}

.u-position-relative {
  position: relative !important;
}

.u-position-absolute {
  position: absolute !important;
}

.u-pointer {
  cursor: pointer !important;
}

.u-pointer-prevent {
  pointer-events: none;
}

.u-hidden {
  display: none !important;
}

.u-full-width {
  width: 100% !important;
}

.u-fw-bold {
  font-weight: bold !important;
}

.u-vertical-align-sub {
  vertical-align: sub !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-lowercase {
  text-transform: lowercase !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}

.u-border-round {
  border-radius: 100vw !important;
}

.u-my--16 {
  margin: -16px 0 !important;
}

.u-word-break {
  word-break: break-all;
  word-break: break-word;
}

.u-sub-text {
  max-width: 220px;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-first-uppercase {
  &:first-letter {
    text-transform: capitalize !important;
  }
}

// --- Margin top class --- //

.u-mt-2 {
  margin-top: 2px !important;
}

.u-mt-6 {
  margin-top: 6px !important;
}

.u-mt-10 {
  margin-top: 10px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mt-26 {
  margin-top: 26px
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mt-60 {
  margin-top: 60px;
}

.u-mt-neg-16 {
  margin-top: -16px !important;
}

// --- Margin bottom class --- //
.u-mb-15 {
  margin-bottom: 15px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

// --- Padding top class --- //
.u-pt-20 {
  padding-top: 20px !important;
}

.u-pd-20 {
  padding: 20px !important;
}

.u-pr-8 {
  padding-right: 8px !important;
}

.u-pl-8 {
  padding-left: 8px !important;
}

.u-fs-15 {
  font-size: 15px !important;
}

.u-fs-14 {
  font-size: 14px !important;
}

.u-fs-16 {
  font-size: 16px !important;
}

.u-fs-18 {
  font-size: 18px !important;
}

.u-fs-20 {
  font-size: 20px !important;
}

.u-fs-30 {
  font-size: 30px !important;
}

// --- Padding left class --- //
.u-pl-neg-4 {
  margin-left: -4px !important;
}
